<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/aias_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/aias_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AIASBasra">
        <activity
            android:exported="true"
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" />
                <data android:host="www.aiasbsr.com" />
                <data android:pathPrefix="/community" />
                <data android:pathPrefix="/a/" />
                <data android:pathPrefix="/p/" />
                <data android:pathPrefix="/project" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="space-42d87.web.app" />
                <data android:pathPrefix="/" />
            </intent-filter>
        </activity>
        <service
            android:name=".CommunityMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="community_activity" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_community_notification" />
        <meta-data
            android:name="firebase_messaging_installation_id_enabled"
            android:value="true" />
    </application>

</manifest>
